

* {
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size: 0.3s ease;
    -o-transition: font-size: 0.3s ease;
    -ms-transition: font-size: 0.3s ease;
}
body {
    font-family: helvetica, arial, sans-serif;
}
li.suggestion.active {
    font-size: 2em;
}
li.suggestion {
    height: 2em;
    line-height: 2em;
}
ul {
    list-style-type: none;
}
#search-box {
    border: none;
    font-size: 20px;
}
#search-box:focus {
    outline: none;
}
#definition-container {
  margin-right: 30%;
  height: 30%;
  width: 30%;
  float: right;
  font-size: 40px;
  font-style: "Courier New", Courier, monospace;
}
