

* {
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size: 0.3s ease;
    -o-transition: font-size: 0.3s ease;
    -ms-transition: font-size: 0.3s ease;
}
html {
  background: url('assets/dictionarysplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    font-family: 'Courgette', Georgia, Times, Times New Roman, serif;
    color: #ffede2;
}
h1 {
  text-align: center;
}
li.suggestion.active {
    font-size: 2em;
}
li.suggestion {
    height: 2em;
    line-height: 2em;
}
ul {
    list-style-type: none;
}
#search-box {
    border: none;
    font-size: 1.5em;
    font-family: 'Courgette', Georgia, Times, Times New Roman, serif;
    opacity: 0.6;
    border-radius: 4px;
    padding: 0.3em;
}
#search-box:focus {
    outline: none;
    padding: 0.3em;
}
#definition-container {
  margin-right: 15%;
  height: 30%;
  width: 30%;
  float: right;
  font-size: 2em;
  padding: 1em;
}
