

* {
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size: 0.3s ease;
    -o-transition: font-size: 0.3s ease;
    -ms-transition: font-size: 0.3s ease;
}
html {
  background: url('assets/dictionarysplash.jpg') no-repeat center center fixed;
  -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  height: 100vh;
}
body {
    font-family: 'Courgette', Georgia, Times, Times New Roman, serif;
    color: #ffede2;
}
h1 {
  text-align: center;
}
p {
  margin: 0;
}
.search-container {
   margin: 2em;
}
.content-container {
  margin: 2em;
}
li.suggestion.active {
    font-size: 2em;
}
li.suggestion {
    height: 2em;
}
ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    width: 50%;
    margin: 0;
    text-align: center;
}
#search-box {
    border: none;
    font-size: 1.5em;
    font-family: 'Courgette', Georgia, Times, Times New Roman, serif;
    opacity: 0.7;
    border-radius: 4px;
    padding: 0.3em;
    margin-left: 18%;
}
#search-box:focus {
    outline: none;
    padding: 0.3em;
}
#definition-container {
  height: auto;
  width: 50%;
  float: right;
  font-size: 2em;
  text-align: center;
}
@media (max-width: 600px) {
  #search-box {
    margin: 0;
  }
}
